body{
    background-color: white;
}

.Logo{
    width:100%;
    position: relative;
}

#hairelogo{
    width:160px;
    height: 120px;
    padding-top: 20px;
}

h1,h4{
font-family: 'Arial';
}    

.StreamlineInterviews{
    color: black;
}
.mainheading{
    font-size: 50px;
    width: 50%;
    padding-top: 5%;
    margin-left: 5%;
}

.subheading{
    font-size: 20px;
    width: 50%;
    padding-top: 1%;
    margin-left: 5%;
}
.VectorImage{
    width: 40%;
    top: 20%;
    right: 0;
    position: absolute;
}

.getstarted{
    
    color: white;
    background-color: #007E85;
    border: #007E85;
    border-radius: 15px;
    width: 13%;
    height: 50px;
    margin-top: 2%;
    margin-left: 20%;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
}

#upperdecoration{
    position: absolute;
    width: 30%;
    top: 0;
    right: 0;
}

#downdecoration{
    position: absolute;
    width: 30%;
    top: 85%;
    right: 70%;

}