body{
    background-color: white;
}

.LandingLogo{
    width:100%;
    position: relative;
}

#hairelandinglogo{
    width:160px;
    height: 120px;
    padding-top: 20px;
}

h1,h4{
font-family: 'Arial';
}    

.StreamlineInterviewsLanding{
    color: black;
}
.mainheadinglanding{
    font-size: 50px;
    width: 50%;
    padding-top: 5%;
    margin-left: 5%;
}

.subheadinglanding{
    font-size: 20px;
    width: 50%;
    padding-top: 1%;
    margin-left: 5%;
}
.VectorImageLanding{
    width: 40%;
    top: 20%;
    right: 0;
    position: absolute;
}

.getstartedlanding{
    
    color: white;
    background-color: #007E85;
    border: #007E85;
    border-radius: 15px;
    width: 13%;
    height: 50px;
    margin-top: 2%;
    margin-left: 20%;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
}

#upperdecorationlanding{
    position: absolute;
    width: 30%;
    top: 0;
    right: 0;
}

#downdecorationlanding{
    position: absolute;
    width: 30%;
    top: 140%;
    right: 70%;

}